body {
	padding: 5px;
	overflow
}
#navigator {
	position: relative;
	background-color: white;
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.5), Direction=NaN, Strength=5);
	height: 100%;
}
#content {
	height: 100%;
	overflow: hidden;
	border: 0px none;
}
.webview.active {
	height: 100%;
}
.webview {
	height: 0px;
	overflow: hidden;
}
#haut {
	position: fixed;
	top: 5px;
	left: 5px;
	right:5px;
	height: 30px;
	opacity: 0;
	background-color: white;
	-webkit-app-region: drag;
	z-index: 1000;
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	-o-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,0.5), Direction=NaN, Strength=3);
	transition: all .2s linear;
}
#haut #tabs {
	-webkit-app-region: no-drag;
	height: 100%;
}
#haut #tabs > * {
	cursor: pointer;
}
#haut #tabs > .tab {
	background: #ececec;
	border-right: 1px solid #eaeaea;
	padding: 5px;
	width: 31px;
	height: 30px;
}
#haut #tabs > .tab.active {
	background: #666;
}
#controls {
	-webkit-app-region: no-drag;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}
#controls * {
	cursor: pointer;
}
body.hover #haut {
	opacity: 1;
}