#deezer {
    background: #333;
    text-align: center;
}
#deezer form input {
    width: 600px;
    max-width: 100%;
    display: block;
    margin: 20px 0;
    background: #333;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border: 0px none;
    padding: 5px;
    line-height: 20px;
}